.main {
  position: relative;
  top: 10%;
  left: 15%;
  width: 90vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-content{
  display: flex;
  /* gap: 12px; */
  flex-wrap: wrap;
}

.main-content-graphs{
  width: 73%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}

.main-content-results {
  width: 18%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
