.main {
  width: 90vw;
  height: 100vh;
  margin-left: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
